@inherits LayoutComponentBase
<div class="page mx-auto p-4">
    <header>
        <div class="d-flex align-items-center mb-4 gap-3">
            <img src="images/swole.png" alt="Swolesome.vip Logo" style="height: 110px;" class="w-auto"/>
            <div>
                <div class="heading d-flex align-items-baseline">
                    <h1 class="display-4">SWOLESOME</h1>
                    <h3 class="display-6">.vip</h3>
                </div>
                <p class="fs-4 text-muted m-0">breach.vip but... le keyed!</p>
            </div>
        </div>
    </header>
    
    <main class="main">
        @Body
    </main>
    
    <footer>
        <div class="mt-4 text-center lh-1">
            <p>
                Made with
                <img src="/images/meds.png" alt="meds" class="footer-inline-image">
                and
                <img src="/images/sproke.png" alt="sproke" class="footer-inline-image">
                by
                <strong>Blogson</strong>
                (<a href="mailto:blogson@proton.me">contact</a>)
            </p>

            <p>
                Support 🏳️‍⚧️ developers!
                <a href="https://www.pizzahut.co.il/" class="text-blue-600 hover:text-blue-700 font-medium">Send me free 'za 🍕</a>
            </p>

            <p>
                <a href="https://soyjakwiki.org/images/2/20/Coinslot.png" class="text-red-600 hover:text-red-700 font-medium underline">
                    ⚠️ Report abuse of this tool
                </a>
            </p>

            <div class="text-center text-sm text-gray-600">
                <p class="text-xs text-gray-500">
                    This software is licensed under the
                    <a href="/license" target="_blank" class="inline-flex items-center justify-center gap-[4px] text-blue-600 hover:text-blue-700 font-medium align-middle">
                        <img src="/images/HWABAG.png" alt="AGPL w/ HWABAG" class="footer-inline-image position-relative">
                        GNU AGPL v3 License with HWABAG modifier
                    </a>
                </p>
            </div>
        </div>
    </footer>
</div>